nav{
  background:#20c997;
}

.summery{
  width:100%;
  border: 2px;
  background:white;
}

p{
  padding:20px;
  font-size: small;
}

#temps{
  width:30vw;
  float:left;
}

body{
  background:#ededed;
}



h1{
  padding:35px;
  text-align: center;
  color:#4aaaa5;
  margin-top:20px;
}

@media only screen and (max-width: 767px){

}

#viz{
  
  background:white;
  padding:10px;
  padding-top: 0;
}

#chart{
  width:80%;
  margin-left:10%;
  margin-right:auto;
}

#head-space{
  height:10px;
}



.viz-img{
  width: 100%;
}

.viz-img:hover{
  opacity: 70%;
  background:#20c997;
  border: 2px solid #20c997;
  
}

.summary-header-compare{
  font-size:2em;
  align: center;
}

#colummm{
  width:10px;
  background:#ededed;
  display:none;
}
footer{
  color:white;
  text-align:center;
  width:100%;
  height:20%; 
  position:relative;
  bottom:0;
  left:0;
  background:#20c997;
  padding-left:-.25rem;
}

